.*
~*
!.gitignore
!.gitinclude
!/.gitattributes
!/.babelrc
!/.editorconfig
!/.eslintrc
!/.stylelintrc
!/.travis.yml

ehthumbs.db
Thumbs.db
Desktop.ini
user.properties
npm-debug.log

/node_modules/
/temp/
/public/

*.m4v
*.mov
*.mp3
*.mp4
*.ogg
*.ogv
*.psd
*.pyc
*.sql
*.wav
*.webm
*.zip
